<div class="form_content">
  <%= f.label :category_id, raw("组织#{get_fill}") %>

  <%= f.select :category_id, nested_set_options(Category, @user.category) {|i| "#{'-' * i.level} #{i.name}" }, {selected: @user.category_id, include_blank: true},  class: "form-control" %>

  <%= f.label :name, raw("姓名#{get_fill}") %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :tel, raw("电话号码#{get_fill}")  %>
  <%= f.text_field :tel, class: "form-control"%>

  <%= f.label :address, raw("地址#{get_fill}")  %>
  <%= f.text_field :address, class: "form-control"%>
</div>
<%= f.submit "提交", class: "btn btn-primary" %>