<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <div class="row">
        <div class="col-sm-4" align="left">员工信息</div>
      </div>
      <tbody>
          <tr>
            <th>组织:</th>
            <td><%= @user.category.try(:name) %></td>
          </tr>
          <tr>
            <th>姓名:</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>电话号码:</th>
            <td><%= @user.tel %></td>
          </tr>
          <tr>
            <th>地址:</th>
            <td><%= @user.address %></td>
          </tr>
      </tbody>
    </table>
    <div class="center">
      <%= link_to(users_path, class: 'btn btn-small btn') do%>
          <i class="icon-on-left icon-arrow-left"></i>
          回到一览
          <i class="icon-undo bigger-150 middle"></i>
      <% end %>
    </div>
  </div>

</div>